nav.navbar.navbar-expand-lg.navbar-dark.bg-danger
  a.navbar-brand(href="/") Pakistan Super League
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon

  div.collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.ml-auto
      li.nav-item.mr-4
        a.nav-link(href="/matches/list") View Matches
      if token
        li.nav-item.mr-4
            a.nav-link(href="/matches/add") Add new Match
      

      if !token
        li.nav-item.mr-4
          a.nav-link.btn.btn-dark.text-light(href="/users/signIn") Sign In / Sign Up

      if token
        span.lead.mt-1 Username: 
            span.lead.mr-3= user.username
        li.nav-item.mr-4
          a.nav-link.btn.btn-dark.text-light(href="/users/logout") Logout
